<h1>Главное меню:</h1>

<ul>
  <li><%= link_to 'Создать станцию', railway_stations_path %></li>
  <li><%= link_to 'Создать поезд', trains_path %></li>
  <li><%= link_to 'Создать маршрут', routes_path %></li>
  <li><%= link_to 'Создать билет', search_path %></li>
</ul>

