<h1>Главное меню:</h1>

<ul>
  <li><%= link_to 'Создать станцию', admin_railway_stations_path %></li>
  <li><%= link_to 'Создать поезд', admin_trains_path %></li>
  <li><%= link_to 'Создать маршрут', admin_routes_path %></li>
  <li><%= link_to 'Создать билет', search_path %></li>
</ul>

