<h1>Билеты:</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Поезд</th>
      <th>Отправление</th>
      <th>Прибытие</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      <th>email</th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<%= link_to t('common.back'), search_path, class: 'btn btn-secondary' %>
