<h1>Билеты:</h1>

<table>
  <thead>
    <tr>
      <th>Поезд</th>
      <th>Отправление</th>
      <th>Прибытие</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      <th>email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tickets %>
  </tbody>
</table>

<%= link_to 'Создать новый билет', new_admin_ticket_path %>
