<p>Здравствуйте, <%= "#{@user.name} #{@user.last_name}" %></p>

<p>Вы только-что купили билет по маршруту "<%= @ticket.route_name %>"</p>
<p>Посмотреть данные о билете можно <%= link_to 'Здесь', @ticket %></p>
<p>Все ваши билеты Вы можете посмотреть <%= link_to 'Здесь', tickets_url %></p>
