<p>Здравствуйте, <%= "#{@user.name} #{@user.last_name}" %></p>

<p>Вы только-что вернули билет по маршруту "<%= @ticket.route_name %>"</p>
<p>Все ваши билеты Вы можете посмотреть <%= link_to 'Здесь', tickets_url %></p>
